In [3]:
import pandas as pd

In [5]:
df = pd.read_csv('Content.csv')

In [6]:
print(df.head())  # Display the first few rows of the DataFrame

   Unnamed: 0                            Content ID  \
0           0  97522e57-d9ab-4bd6-97bf-c24d952602d2
1           1  9f737e0a-3cdd-4d29-9d24-753f4e3be810
2           2  230c4e4d-70c3-461d-b42c-ec09396efb3f
3           3  356fff80-da4d-4785-9f43-bc1261031dc6
4           4  01ab84dd-6364-4236-abbb-3f237db77180

                                User ID   Type        Category  \
0  8d3cd87d-8a31-4935-9a4f-b319bfe05f31  photo        Studying
1  beb1f34e-7870-46d6-9fc7-2e12eb83ce43  photo  healthy eating
2  a5c65404-5894-4b87-82f2-d787cbee86b4  photo  healthy eating
3  9fb4ce88-fac1-406c-8544-1a899cee7aaf  photo      technology
4  e206e31b-5f85-4964-b6ea-d7ee5324def1  video            food

                                                 URL
0  https://socialbuzz.cdn.com/content/storage/975...
1  https://socialbuzz.cdn.com/content/storage/9f7...
2  https://socialbuzz.cdn.com/content/storage/230...
3  https://socialbuzz.cdn.com/content/storage/356...
4  https://socialbuzz.cdn.com/content/storage/01a...

In [8]:
df.dropna(inplace=True)

In [10]:
df.drop_duplicates(inplace=True)

In [11]:
df = df.drop('URL', axis=1)

In [12]:
print(df.head())

   Unnamed: 0                            Content ID  \
0           0  97522e57-d9ab-4bd6-97bf-c24d952602d2
1           1  9f737e0a-3cdd-4d29-9d24-753f4e3be810
2           2  230c4e4d-70c3-461d-b42c-ec09396efb3f
3           3  356fff80-da4d-4785-9f43-bc1261031dc6
4           4  01ab84dd-6364-4236-abbb-3f237db77180

                                User ID   Type        Category
0  8d3cd87d-8a31-4935-9a4f-b319bfe05f31  photo        Studying
1  beb1f34e-7870-46d6-9fc7-2e12eb83ce43  photo  healthy eating
2  a5c65404-5894-4b87-82f2-d787cbee86b4  photo  healthy eating
3  9fb4ce88-fac1-406c-8544-1a899cee7aaf  photo      technology
4  e206e31b-5f85-4964-b6ea-d7ee5324def1  video            food

In [26]:
df.to_csv('content.csv', index=False)

In [17]:
df = pd.read_csv('Content.csv')

In [24]:
print(df.head())  # Display the first few rows of the DataFrame

   Unnamed: 0                            Content ID   Type        Category
0           0  97522e57-d9ab-4bd6-97bf-c24d952602d2  photo        Studying
1           1  9f737e0a-3cdd-4d29-9d24-753f4e3be810  photo  healthy eating
2           2  230c4e4d-70c3-461d-b42c-ec09396efb3f  photo  healthy eating
3           3  356fff80-da4d-4785-9f43-bc1261031dc6  photo      technology
4           4  01ab84dd-6364-4236-abbb-3f237db77180  video            food

In [27]:
df = df.drop('User ID', axis=1)

KeyError: "['User ID'] not found in axis"

In [29]:
df = pd.read_csv('Reactions.csv')

In [31]:
df.head()

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01

In [33]:
df.dropna(inplace=True)

In [35]:
df.drop_duplicates(inplace=True)

In [36]:
df = df.drop('User ID', axis=1)

In [37]:
df.head()

,Unnamed: 0,Content ID,Type,Datetime
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01
5,5,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58

In [38]:
df.to_csv('reactions.csv', index=False)

In [39]:
df = pd.read_csv('ReactionTypes.csv')

In [41]:
df.head()

   Unnamed: 0        Type Sentiment  Score
0           0       heart  positive     60
1           1        want  positive     70
2           2     disgust  negative      0
3           3        hate  negative      5
4           4  interested  positive     30

In [42]:
table1 = pd.read_csv('content.csv')
table2 = pd.read_csv('reactions.csv')
table3 = pd.read_csv('ReactionTypes.csv')

In [44]:
merged_table = pd.merge(table1, table2, on='Content ID')

In [46]:
merged_table.head()

,Unnamed: 0_x,Content ID,Type_x,Category,Unnamed: 0_y,Type_y,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,1,disgust,2020-11-07 09:43:50
1,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,2,dislike,2021-06-17 12:22:51
2,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,3,scared,2021-04-18 05:13:58
3,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,4,disgust,2021-01-06 19:13:01
4,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,5,interested,2020-08-23 12:25:58

In [47]:
merged_table.rename(columns={ 'Type_y': 'Type'}, inplace=True)

In [48]:
merged_table.head()

,Unnamed: 0_x,Content ID,Type_x,Category,Unnamed: 0_y,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,1,disgust,2020-11-07 09:43:50
1,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,2,dislike,2021-06-17 12:22:51
2,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,3,scared,2021-04-18 05:13:58
3,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,4,disgust,2021-01-06 19:13:01
4,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,5,interested,2020-08-23 12:25:58

In [49]:
merged_table = pd.merge(merged_table, table3, on='Type')

In [51]:
merged_table.head()

,Unnamed: 0_x,Content ID,Type_x,Category,Unnamed: 0_y,Type,Datetime,Unnamed: 0,Sentiment,Score
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,1,disgust,2020-11-07 09:43:50,2,negative,0
1,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,4,disgust,2021-01-06 19:13:01,2,negative,0
2,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,35,disgust,2021-04-09 02:46:20,2,negative,0
3,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,photo,healthy eating,52,disgust,2021-03-28 21:15:26,2,negative,0
4,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,photo,healthy eating,88,disgust,2020-08-04 05:40:33,2,negative,0

In [52]:
merged_table.to_csv('finaldata.csv', index=False)

In [54]:
category_scores = merged_table.groupby('Category').sum()

In [58]:
category_scores.head()

Category
Studying    disgustdisgustdisgustdislikedislikescaredscare...
animals     disgustdisgustdisgustdisgustdisgustdisgustdisg...
cooking     disgustdisgustdisgustdisgustdisgustdisgustdisg...
culture     disgustdisgustdisgustdisgustdisgustdisgustdisg...
dogs        disgustdisgustdisgustdisgustdisgustdisgustdisg...
Name: Type, dtype: object

In [57]:
category_scores = merged_table.groupby('Category')['Type'].sum()

In [59]:
category_scores.head()

Category
Studying    disgustdisgustdisgustdislikedislikescaredscare...
animals     disgustdisgustdisgustdisgustdisgustdisgustdisg...
cooking     disgustdisgustdisgustdisgustdisgustdisgustdisg...
culture     disgustdisgustdisgustdisgustdisgustdisgustdisg...
dogs        disgustdisgustdisgustdisgustdisgustdisgustdisg...
Name: Type, dtype: object

In [60]:
category_scores = merged_table.groupby('Category')['Score'].sum()

In [61]:
sorted_categories = category_scores.sort_values(ascending=False)

In [62]:
top_5_categories = sorted_categories.head(5)

In [63]:
print(top_5_categories)

Category
travel            53935
science           53657
healthy eating    52745
animals           52443
cooking           49681
Name: Score, dtype: int64

In [64]:
top_5_table = pd.DataFrame({'Category': top_5_categories.index, 'Total Score': top_5_categories.values})

In [65]:
print(top_5_table)

         Category  Total Score
0          travel        53935
1         science        53657
2  healthy eating        52745
3         animals        52443
4         cooking        49681

In [66]:
top_5_table.to_csv('top_5_categories.csv', index=False)